/** Eksamen 2. semester MDU: Fryden kaffebar**/


/* Adobe fonts */
/* font-family: costa, sans-serif; font-style: normal; font-weight: 400; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: costa, sans-serif; font-style: normal; font-weight: 700; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: costa, sans-serif; font-style: normal; font-weight: 300; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: Ballare, sans-serif; font-style: normal; font-weight: 400; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: Signo, sans-serif; font-style: normal; font-weight: 700; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: Signo, sans-serif; font-style: normal; font-weight: 400; */
@import url("https://use.typekit.net/buo6iyo.css");


/* Variabler gemmes*/
:root {

/* farver */
  --yellow: #fff3ce;
  --aqua: #C9DEDD;
  --green: #3F5A40;
  --blue: #1D2472;
  --red: #CD4F42;
  --pink: #FFE5E3;


/* fonte */
  --overskrift: 'costa', sans-serif; /* overskrifter */
  --brødtekst: 'costa', sans-serif; /* brødtekst */
  --ballare: 'ballare', sans-serif /* */
}

<<<<<<< Updated upstream
/* Mobil */
/* baggrund */
body {
  background-color: var(--pink);
}


=======
>>>>>>> Stashed changes
/* typografi */
h1{
  font-family: var(--overskrift);
  font-weight: 700;
<<<<<<< Updated upstream
  text-align: center;
  padding-top: 15%;
=======
  font-size: 25px;
>>>>>>> Stashed changes
}

h2{
  font-family: var(--overskrift);
  font-weight: 700;
<<<<<<< Updated upstream
  font-size: 20px;
  text-align: center;
  padding-top: 10%;
=======
  font-size: 18px;
>>>>>>> Stashed changes
}

p{
  font-family: var(--brødtekst);
  font-weight: 400;
<<<<<<< Updated upstream
  text-align: center;
  margin-left: 12%;
  margin-right:12%;
  line-height: 1.8;
  margin-top: 5%;
}

.footerp{
  font-family: var(--brødtekst);
  font-weight: 400;
  text-align: center;
  margin-left: 12%;
  margin-right:12%;
  line-height: 0.7;
  margin-top: 5%;
}


/* Generel opsætning af siderne */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
=======
}

>>>>>>> Stashed changes


/*********** indhold ************/
/* Intro sektion - Om Fryden */
.intro{
  background-color: var(--green);
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.intro {
  padding-left: 15%;
  padding-right: 15%;
}
.intro h1{
  color: var(--aqua);
  text-align: center;
  padding-top: 80px;
}

.column-1 img{
height: 300px;

}

.column-1 p{
  color: var(--yellow);
  text-align: center;
  line-height: 1.8;
  padding-top: 20px;
}

/* Clear floats after the columns */
.intro:after {
  content: "";
  display: table;
  clear: both;
}

/* Kaffe af god kvalitet sektion */
.kaffe-kvalitet{
  background-color: var(--yellow);
}

<<<<<<< Updated upstream




/*********** indhold ************/

.forsidemenu {
  font-weight: lighter;
  padding: 10px;
=======
.kaffe-kvalitet h1{
  color: var(--red);
  text-align: center;
  padding-top: 80px;
  padding-left: 15%;
  padding-right: 15%;
>>>>>>> Stashed changes
}

.kaffe-kvalitet h4{
  font-family: Helvetica;
  color: var(--aqua);
  font-size: 115px;
  margin-left: -20px;
}

.kaffe-kvalitet p{
  color: var(--blue);
  text-align: center;
  line-height: 1.8;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}


/* Footer */
.footer h2{
  color: var(--blue);
  text-align: center;
  padding-top: 20px;
}

.footer p{
  color: var(--blue);
  text-align: center;
line-height: 1.7;
}

/* Banner 2 - Om Fryden - Michella*/
#intro{
  background-color: var(--green);
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

#intro h1{
  color: var(--aqua);
}

.column-1 img{
height: 300px;

}

.column-1 p{
  color: var(--yellow);
}

/* Clear floats after the columns */
#intro:after {
  content: "";
  display: table;
  clear: both;
}

/* banner 5: Kaffe af god kvalitet - Michella */
#kaffe-kvalitet{
  background-color: var(--yellow);
}

#kaffe-kvalitet h1{
  color: var(--red);
  text-align: center;
}

#kaffe-kvalitet h4{
  font-family: Helvetica;
  color: var(--aqua);
  font-size: 115px;
  margin-left: -20px;
}

#kaffe-kvalitet p{
  color: var(--blue);
  text-align: center;
}


<<<<<<< Updated upstream
/**** banner nr 6: nyeste posts ****/

#nyesteposts {
  background-color: var(--yellow);
}
#nyesteposts h1, p {
  color: var(--blue);
}


/* Footer */
.footer h2{
  color: var(--blue);
}

.footer p{
  color: var(--blue);
}
=======
>>>>>>> Stashed changes


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {





}

/* Big screen (1200px and up) */
<<<<<<< Updated upstream
@media only screen and (min-width: 1200px) {

  body {
    background-color: var(--aqua);
  }

  section {
    padding-bottom: 6%;
  }

  /* typografi */
  h1{
    font-family: var(--overskrift);
    font-weight: 700;
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
    text-align: left;
    margin-left: 18%;
  }

  h2{
    font-family: var(--overskrift);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 6%;
    text-align: left;
  }

  p{
    font-family: var(--brødtekst);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 18%;
    margin-right:18%;
    margin-top: 2%;
    text-align: left;
  }

  .footerp{
    font-family: var(--brødtekst);
    font-weight: 400;
    text-align: center;
    margin-left: 12%;
    margin-right:12%;
    text-align: left;
  }





/* Navigationsbar styles */


header {
  background-color: var(--pink);
}


.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}


.nav-link:hover{
  color: var(--aqua);
}

.hamburger{
  display: none;
}




/* Banner 1 styles */
  #topbillede {
    display: block;
    margin-left: 10%;
  }

  #forsidetop {
  display: flex;

  }

  .forsidemenu {
    font-weight: lighter;
    padding: 10px;
    font-size: 30px;
    margin-left: 10%;
  }

  #forsidetop hr {
    max-width: 50%;
    margin-left: 30%;
  }

  .topbilleder {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10%;
  }

  #logotilforsidetop {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30%;
  }

  #slangetop {
    display: block;
    position: relative;
    top: 20px;
    left: 10px;
    margin-bottom: 10%;
  }



  }
}
=======
@media only screen and (min-width: 1200px) {}
>>>>>>> Stashed changes
